<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <title>Password Pro</title>
</head>
<body>
  <nav>
  </nav>
  <section>
    <div class="content">
      <h1 class="headertxt">PasswordPro</h1>
      <p class="ptxt">คือ เว็บไซต์ที่จะบอกถึงภัยและความเสียหาย 
        ที่อาจเกิดขึ้น ให้ความรู้และเทคนิคต่างๆ 
        ในการตั้งรหัสผ่านได้อย่างปลอดภัยมากขึ้น รวมถึงหมวดการฝึกฝนการตั้งรหัสผ่าน จากระดับง่าย
        ไปยาก คือ Newbie , Beginner , Amateur , Semipro และ Professional ตามลำดับ 
        ซึ่งเว็บไซต์ทั้งหมดถูกเขียนขึ้นมา
        โดยใช้ภาษา HTML , CSS และJavaScript ในการสร้างหน้าเว็ป และใช้Node.js Express.js และ EJS ในการรับมือกับคำขอ การตอบกลับต่างๆ และการส่งข้อมูลจากเซิฟเวอร์ไปยังหน้าเว็บ
        </p>
        <div class="img">
          <img src="/images/html-icon.png" alt="รูปไม่โหลด" >
          <img src="/images/css-icon.png" alt="รูปไม่โหลด" >
          <img src="/images/js-icon.png" alt="รูปไม่โหลด" >
          <img src="/images/node-icon.png" alt="รูปไม่โหลด" >
          <img src="/images/express-icon.png" alt="รูปไม่โหลด" >
          <img src="/images/ejs-icon.png" alt="รูปไม่โหลด" >
        </div>
    </div>
  </section>
  <footer>
  </footer>
</body>
</html>