<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Password Pro</title>
</head>
<body>
  <nav>
  </nav>  
  <section>
    <a href="/news" target="_self">
    <div id="news">
      <h1 class="headertxt">ภัยจากการถูกแฮก</h1>
      <p class="article">ภัยจากการถูกแฮกข้อมูลมันน่ากลัวบราๆๆๆ</p>
    </div>
    </a>

    <a href="/about">
    <div id="passwordpro">
      <h1 class="headertxt">PasswordPro คืออะไร</h1>
      <p class="article">PasswordPro คือ web app ที่จะช่วยบราๆๆๆ</p>
      <img id="logo" src="/images/IMG_20230406_221422.jpg" alt="Logo cant be load." ><br>
    </div>
    </a>

    <a href="/play">
    <div id="play">
      <h1 class="headertxt">ฝึกฝนการตั้งรหัสผ่าน</h1>
      <p class="article">สามารถกดที่นี่เพื่อนฝึกการตั้งรหัสบราๆๆๆ</p>
    </div>
    </a>

  </section>
  <footer>
  </footer>
</body>
</html>
