<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hacker Pro >:D</title>
</head>
<body>
  <nav>
    <p>Nothing to put :p</p>
  </nav>

  <section>
    <div class="content">
      <h1 id="headertxt">PasswordPro</h1>
      <img id="logo" src="/images/IMG_20230406_221422.jpg" alt="Logo cant be load." ><br>
      <a href="#" id="lv1-link"><strong>Let's start</strong></a>
    </div>
  </section>


  <footer>
    <p>Nothing to put :p</p>
  </footer>
</body>
<script>
  const url = location.href;
  const urltolv1 = url + "lv1";
  const lv1Link = document.getElementById("lv1-link");
  lv1Link.href = urltolv1;
</script>
</html>
