<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Password Pro</title>
</head>
<body>
  <nav>
  </nav>  
  <section>
    <a href="/news" target="_self">
    <div id="news">
      <h1 class="headertxt">ภัยจากการถูกแฮก</h1>
      <p class="article">สามารถกดเข้ามา เพื่อศึกษาภัยจากการถูกแฮก รหัสผ่านได้</p>
      <img class="logo" src="/images/play-icon.png" alt="Logo cant be load." ><br>
    </div>
    </a>

    <a href="/about">
    <div id="passwordpro">      
      <img id="logo" src="/images/logo.png" alt="Logo cant be load." ><br>
      <h1 id="headertxt">คืออะไร</h1>
      <p class="article">Password Pro เป็นเว็บไซด์แนวเกมที่จะมอบเทคนิคการตั้งรหัสผ่านที่ปลอดภัยและจำได้
        ง้ายง่ายแถมยังได้รับความสนุกด้วย
        จากการเล่นเกมทายรหัสผ่านเป็นแรงค์ ตั้งแต่ Newbie ไปจนถึง Professional ซึ่งในแต่ละแรงค์
        ก็จะมีความยากง่ายของรหัสผ่านแตกต่างกันไป</p>
    </div>
    </a>

    <a href="/play">
    <div id="play">
      <h1 class="headertxt">ฝึกฝนการตั้งรหัสผ่าน</h1>
      <p class="article">สามารถกดที่นี่เพื่อนฝึกการตั้งรหัสผ่าน </p>
      <img class="logo" src="/images/news-icon.png" alt="Logo cant be load." ><br>
    </div>
    </a>

  </section>
  <footer>
  </footer>
</body>
</html>
