<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/news.css">
    <title>Hacker Pro >:D</title>
</head>
<body>
  <nav>
    <p>Nothing to put :p</p>
  </nav>
  <section>
    <div class="content">
      <h1 class="headertxt">เว็บศาลรัฐธรรมนูญ</h1>
      <p class="ptxt">เว็บศาลรัฐธรรมนูญโดน hack ซึ่งหน้าเว็บไซต์ถูกเปลี่ยนเป็นมิวสิกวิดีโอเพลง เพลงหนึ่ง นอกจากเปลี่ยนหน้าเว็บไซต์แล้ว ชื่อของเว็บไซต์ศาลรัฐธรรมนูญก็ถูกเปลี่ยนเป็น Kangaroo Court เเต่ในช่วงเช้าของวันนี้ (13 พ.ย.64) 
        ได้ประสานงานร่วมกับกองบังคับการตำรวจสืบสวนสอบสวนอาชญากรรมทางเทคโนโลยี 3 ในการเข้าตรวจบ้านผู้ต้องสงสัย ผู้ต้องสงสัยให้การรับสารภาพว่าเป็นผู้แฮกเว็บ 
        ศาลรัฐธรรมนูญจรึง จึงได้สอบปากคำไว้
        เป็นหลักฐาน พร้อมยึดอุปกรณ์คอมพิวเตอร์
        ที่เกี่ยวข้องกับการกระทำความผิด เพื่อส่งให้ กลุ่มงานตรวจพิสูจน์พยานหลักฐานดิจิทัล 
        กองบังคับการตรวจสอบและวิเคราะห์อาชญากรรมทางเทคโนโลยี ดำเนินการ
        ตรวจพิสูจน์พยานหลักฐานดิจิทัลต่อไป</p>
        <a href="https://www.sanook.com/news/8471950/" class="newslink" target="_blank	">แหล่งอ้างอิง : https://www.sanook.com/news/8471950/</a>
        <img src="/images/news1.jpg" alt="รูปไม่โหลด" class="newsimg">
    </div>
    <div class="content">
      <h1 class="headertxt">กล้องวงจรปิด</h1>
      <p class="ptxt">โดนแฮกกล้องวงจรปิดภายในเรือนจำหลังสวน โดยเอามาเผยแพร่ไปทั่วโลกผ่านช่องยูทูปนึง
        โดยที่เรือนจำได้ว่าจ้างร้านคอมพิวเตอร์ใน จ.ชุมพร มาติดตั้ง ส่วนภาพในกล้องจะถูกส่งเข้าระบบ
        กรมราชทัณฑ์ ในการจะเปิดดู ตามระบบ
        ต้องมีรหัสผ่าน  เจ้าของช่องยูทูป
        ได้ออกมาลบคลิปวิดีโอพร้อมโพสต์ข้อความขอโทษ และจะไม่มีเนื้อหาใดๆปรากฏในช่องอีก 
        เจ้าของช่องยังบอกอีกว่าที่จริงไม่ได้แฮ็ก
        หรือเจาะระบบเข้าไปแต่กล้องวงจรปิดในเรือนจำนี้อยู่บนโดเมนสาธารณะ ซึ่งใครๆก็สามารถเข้าถึงได้ และยังบอกอีกว่า ควรเปลี่ยนรหัสผ่านที่ติดมา
        กับค่าเริ่มต้น เพราะส่วนใหญ่มักเดาง่ายเกินไป</p>
        <a href="https://www.sanook.com/news/7993962/" class="newslink" target="_blank	">แหล่งอ้างอิง : https://www.sanook.com/news/7993962/</a>
        <img src="/images/news2.jpg" alt="รูปไม่โหลด" class="newsimg">
    </div>
    <div class="content">
      <h1 class="headertxt">9near</h1>
      <p class="ptxt">ผู้ต้องหาจบการศึกษาระดับปริญญาตรี 
        สาขาเทคโนโลยีสารสนเทศ ซึ่งมีความรู้ในด้านไอที และมีความสนใจว่าข้อมูลส่วนบุคคลของตนเอง
        ที่อยู่ในเว็บไซต์ Bleach Forums ซึ่งเป็นเว็บไซต์
        ที่แฮกเกอร์นิยมใช้ซื้อขายแลกเปลี่ยนข้อมูล
        ผิดกฎหมาย จึงเข้าไปตรวจสอบและพบว่า
        มีข้อมูลของตนเองอยู่จริง จึงได้ติดต่อ
        ขอซื้อข้อมูลส่วนตัวคนไทยเพิ่มจากเว็บ จำนวน 8,000,000 เรคคอร์ด คิดเป็นเงิน 8,000 บาท 
        จากเว็บไซต์ดังกล่าว จากนั้นได้นำรายชื่อส่วนหนึ่งโพสต์ขึ้นโซเชียลมีเดียแต่ยังไม่ได้รับความสนใจ 
        จึงได้นำข้อมูลส่วนตัวของคนมีชื่อเสียง
        โพสต์ลงในโซเชียลมีเดียและส่งข้อความ
        ไปหาเจ้าของข้อมูล จนเกิดเป็นกระแส</p>
        <a href="https://www.thereporters.co/tw-crime/1204231451/" class="newslink" target="_blank	">แหล่งอ้างอิง : https://www.thereporters.co/tw-crime/1204231451/</a>
        <img src="/images/news3.jpg" alt="รูปไม่โหลด" class="newsimg">
    </div>
  </section>
  <footer>
    <p>Nothing to put :p</p>
  </footer>
</body>
</html>
