<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/play.css">
    <title>Hacker Pro >:D</title>
</head>
<body>
  <nav>
    <p>Nothing to put :p</p>
  </nav>
  <section>
    <div id="rank">
      <ul type="none">
        <a href="/newbie"><li id="Newbie">Newbie:เฉพาะตัวเลข</li></a>
        <a href="/beginer"><li id="Beginer">Beginer:เฉพาะตัวอักษรพิมพ์เล็ก</li></a>
        <a href="/amateur"><li id="Amateur">Amateur:ทั้งอักษรพิมพ์เล็กและพิมพ์ใหญ่</li></a>
        <a href="/semi-Pro"><li id="Semi-Pro">Semi-Pro:ทั้งตัวเลข ตัวอักษรพิมพ์เล็กและตัวอักษรพิมใหญ่</li></a>
        <a href="/professional"><li id="Professional">Professional:ทั้งตัวเลข ตัวอักษรพิมพ์เล็ก ตัวอักษรพิมใหญ่และสัญลักษณ์</li></a>
      </ul>
    </div>
  </section>
  <footer>
    <p>Nothing to put :p</p>
  </footer>
</body>
</html>