<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/play.css">
    <title>Password Pro</title>
</head>
<body>
  <nav>
  </nav>
  <section>
    <div class="content">
      <ul type="none">
        <a href="/play/newbie/"><li id="Newbie">Newbie:เฉพาะตัวเลข</li></a>
        <a href="/play/beginner/"><li id="Beginner">Beginer:เฉพาะตัวอักษรพิมพ์เล็ก</li></a>
        <a href="/play/amateur/"><li id="Amateur">Amateur:ทั้งอักษรพิมพ์เล็กและพิมพ์ใหญ่</li></a>
        <a href="/play/semi-Pro/"><li id="Semi-Pro">Semi-Pro:ทั้งตัวเลข ตัวอักษรพิมพ์เล็กและตัวอักษรพิมใหญ่</li></a>
        <a href="/play/professional/"><li id="Professional">Professional:ทั้งตัวเลข ตัวอักษรพิมพ์เล็ก ตัวอักษรพิมใหญ่และสัญลักษณ์</li></a>
      </ul>
    </div>
  </section>
  <footer>
  </footer>
</body>
</html>